<a href="https://colab.research.google.com/github/Orakod/Orakod/blob/main/API_Harry_potter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Harry Potter Characters

In [40]:
# Import package
import pandas as pd
import requests
import time

In [41]:
# API endpoint
url = "http://hp-api.herokuapp.com/api/characters"

In [42]:
# Check status 
response = requests.get(url)
response.status_code

200

In [43]:
# Check data
char = response.json()
char[0]

{'actor': 'Daniel Radcliffe',
 'alive': True,
 'alternate_actors': [],
 'alternate_names': [],
 'ancestry': 'half-blood',
 'dateOfBirth': '31-07-1980',
 'eyeColour': 'green',
 'gender': 'male',
 'hairColour': 'black',
 'hogwartsStaff': False,
 'hogwartsStudent': True,
 'house': 'Gryffindor',
 'image': 'http://hp-api.herokuapp.com/images/harry.jpg',
 'name': 'Harry Potter',
 'patronus': 'stag',
 'species': 'human',
 'wand': {'core': 'phoenix feather', 'length': 11, 'wood': 'holly'},
 'wizard': True,
 'yearOfBirth': 1980}

In [44]:
# for loop
result = []
for i in range (15):
    data = [
          char[i]['name'],
          char[i]['house'],
          char[i]['ancestry'],
          char[i]['yearOfBirth'],
          char[i]['image']       
    ]
    result.append(data)
    time.sleep(1)
print(result)

[['Harry Potter', 'Gryffindor', 'half-blood', 1980, 'http://hp-api.herokuapp.com/images/harry.jpg'], ['Hermione Granger', 'Gryffindor', 'muggleborn', 1979, 'http://hp-api.herokuapp.com/images/hermione.jpeg'], ['Ron Weasley', 'Gryffindor', 'pure-blood', 1980, 'http://hp-api.herokuapp.com/images/ron.jpg'], ['Draco Malfoy', 'Slytherin', 'pure-blood', 1980, 'http://hp-api.herokuapp.com/images/draco.jpg'], ['Minerva McGonagall', 'Gryffindor', '', 1925, 'http://hp-api.herokuapp.com/images/mcgonagall.jpg'], ['Cedric Diggory', 'Hufflepuff', '', 1977, 'http://hp-api.herokuapp.com/images/cedric.png'], ['Cho Chang', 'Ravenclaw', '', '', 'http://hp-api.herokuapp.com/images/cho.jpg'], ['Severus Snape', 'Slytherin', 'half-blood', 1960, 'http://hp-api.herokuapp.com/images/snape.jpg'], ['Rubeus Hagrid', 'Gryffindor', 'half-blood', 1928, 'http://hp-api.herokuapp.com/images/hagrid.png'], ['Neville Longbottom', 'Gryffindor', 'pure-blood', 1980, 'http://hp-api.herokuapp.com/images/neville.jpg'], ['Luna Lovegood', 'Ravenclaw', '', 1981, 'http://hp-api.herokuapp.com/images/luna.jpg'], ['Ginny Weasley', 'Gryffindor', 'pure-blood', 1981, 'http://hp-api.herokuapp.com/images/ginny.jpg'], ['Sirius Black', 'Gryffindor', 'pure-blood', 1959, 'http://hp-api.herokuapp.com/images/sirius.JPG'], ['Remus Lupin', 'Gryffindor', 'half-blood', 1960, 'http://hp-api.herokuapp.com/images/lupin.jpg'], ['Arthur Weasley', 'Gryffindor', 'pure-blood', 1950, 'http://hp-api.herokuapp.com/images/arthur.jpg']]

In [52]:
# Create dataframe
headers = ['Name','House','Ancestry','Year_Of_Birth','Image']
HP = pd.DataFrame(result , columns = headers )
print(HP)
# Create CSV file
HP.to_csv("Harry_potter.csv",index = False)

                  Name       House    Ancestry Year_Of_Birth  \
0         Harry Potter  Gryffindor  half-blood          1980
1     Hermione Granger  Gryffindor  muggleborn          1979
2          Ron Weasley  Gryffindor  pure-blood          1980
3         Draco Malfoy   Slytherin  pure-blood          1980
4   Minerva McGonagall  Gryffindor                      1925
5       Cedric Diggory  Hufflepuff                      1977
6            Cho Chang   Ravenclaw
7        Severus Snape   Slytherin  half-blood          1960
8        Rubeus Hagrid  Gryffindor  half-blood          1928
9   Neville Longbottom  Gryffindor  pure-blood          1980
10       Luna Lovegood   Ravenclaw                      1981
11       Ginny Weasley  Gryffindor  pure-blood          1981
12        Sirius Black  Gryffindor  pure-blood          1959
13         Remus Lupin  Gryffindor  half-blood          1960
14      Arthur Weasley  Gryffindor  pure-blood          1950

                                                Image
0        http://hp-api.herokuapp.com/images/harry.jpg
1    http://hp-api.herokuapp.com/images/hermione.jpeg
2          http://hp-api.herokuapp.com/images/ron.jpg
3        http://hp-api.herokuapp.com/images/draco.jpg
4   http://hp-api.herokuapp.com/images/mcgonagall.jpg
5       http://hp-api.herokuapp.com/images/cedric.png
6          http://hp-api.herokuapp.com/images/cho.jpg
7        http://hp-api.herokuapp.com/images/snape.jpg
8       http://hp-api.herokuapp.com/images/hagrid.png
9      http://hp-api.herokuapp.com/images/neville.jpg
10        http://hp-api.herokuapp.com/images/luna.jpg
11       http://hp-api.herokuapp.com/images/ginny.jpg
12      http://hp-api.herokuapp.com/images/sirius.JPG
13       http://hp-api.herokuapp.com/images/lupin.jpg
14      http://hp-api.herokuapp.com/images/arthur.jpg

In [46]:
# Insert Image 
from IPython.display import HTML
def to_img(url, alt=None, width=100):
  if alt == None:
    alt=' '
    return f'<img alt="{alt}" src="{url}" width="{width}"/>'


HP['Image']= HP.apply(lambda r:to_img(r['Image']),axis=1)
HP.head(3)

,Name,House,Ancestry,Year_Of_Birth,Image
0,Harry Potter,Gryffindor,half-blood,1980,"<img alt="" "" src=""http://hp-api.herokuapp.com/..."
1,Hermione Granger,Gryffindor,muggleborn,1979,"<img alt="" "" src=""http://hp-api.herokuapp.com/..."
2,Ron Weasley,Gryffindor,pure-blood,1980,"<img alt="" "" src=""http://hp-api.herokuapp.com/..."

In [47]:
#Display
HP_html = HTML(HP[['Name','House', 'Ancestry', 'Year_Of_Birth','Image']].to_html(escape=False))
HP_html